.block_container{  
  border-top: 1px solid black;
  text-align: center;
  padding: 0 .5rem;

  .block_heading{
    display: inline-block;
    padding: .5rem;
    color: white;
    background-color: black;
  }
  .posts_container{
    display: flex;
    flex-direction: column;
  }
}