.chat_page{
  width: 100%;
  height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;

  .chat_container{
    position: relative;
    width: 65%;
    height: 75%;
    border: 1px solid black;
    overflow-y: scroll;
  }
}

.list-button{
  position: fixed;
  top: .8rem;
  left: 1rem;
}
