$color-main-black:#36454F;
$font-size-large:1.5rem;

.users_header{
    background-color: $color-main-black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-large;
    position: sticky;
    top:0;
    color: white;
    margin-bottom: 1rem;
    height: 4rem;
}