$color-main-black:#36454F;

.toolbarBtn {
  border: none !important;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

.self-post{
  align-self: flex-end;
}

.card {    
  width: 50%;
  margin: 1rem 0;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: $color-main-black;
  color: white; 

 .card_content{
  padding: .5rem;

  .description_container{
    display: flex; 
    padding: .5rem;
    .image_block{
      width: 20%;
    
      .post_image{
        width: 100%;
        height: auto; 
        border-radius: 5px;     
      }
    }
    .text_block{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
    }
  }
 }
 .meta_block{
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   
 }
 .icons_block{
   padding: .5rem;
   background-color: white;
   color: black;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
 }    
}