$color-red:#ca3232;


.alert__body {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;  
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    &.error {
     background-color: rgba($color-red, .9);
    }    
  }
  .alert__icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
 
    &.error-icon {
      color: $color-red;
    }   
  }
  .alert__text {
    display: flex;
    flex-direction: column;
    color: white;
  }