$font-size-medium:1.2rem;

.users_container{
    position: relative;
}

.users_field{
    width: 70%;
    font-size: $font-size-medium;
    margin: 0 auto;
}

.add-button{
    position: fixed;
    top: .8rem;
    left: 1rem;
}

.chat-button{
    position: fixed;
    top: .8rem;
    left: 10rem;
}